//colour palette

$header-colour: #6dce9a
$line-colour: #dceef0 //maybe?
$gameboard-colour: #c29d83
$border-colour: #5db3c2
$text-colour: #6A3F36
$shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12)

// fonts

$font: 'Hachi Maru Pop', cursive, Sans-serif

// flex styles
@mixin make-center
    display: flex
    justify-content: center
    align-items: center
